body {
    font-family: Arial, sans-serif;
    background-color: #4505bdab;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #dd8282;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(11, 131, 211, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

input[type="number"] {
    width: calc(100% - 24px);
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

p#output {
    font-size: 18px;
    margin-top: 20px;
    color: hsla(19, 93%, 21%, 0.966);
    min-height: 30px;
}